@page
@model ggtWebsite.Pages.ggtcalculatorModel
@{
}
<h1>Calculate GGT</h1>
<p></p>
<h2>The GGT for the number @Model.Number1 and the number @Model.Number2 is:</h2>
<h2>@Model.Result</h2>
<br />
<button><a class="nav-link text-dark" asp-area="" asp-page="/ggtinput">Calculate next ggt</a></button>