@page
@model ggtWebsite.Pages.ggtinputModel
@{
}
<form method="post" asp-page-handler="CalculateGGT">
	<div class="row">
		<div class="col-6">
			Number1:
			<input type="number" id="number1" name="number1" value="0" />
		</div>
		<div class="col-6">
			Number2:
			<input type="number" id="number2" name="number2" value="0" />
		</div>
	</div>
	<br />
	<button type="submit">Calculate GGT</button>
</form>