@page
@model Hue04.Pages.TimeTillEndOfSchoolModel
@{
    ViewData["Title"] = "Time till End of School";
}

<div class="text-center">
    <h1 class="display-4">Time till End of School</h1>
    <p><h2 class="display-6">@Model.Days days</h2></p>
    <p><h2 class="display-6">@Model.Hours hours</h2></p>
    <p><h2 class="display-6">@Model.Minutes minutes</h2></p>
    <p><h2 class="display-6">@Model.Seconds seconds</h2></p>
</div>