@page
@model IndexModel
@{
    ViewData["Title"] = "Wanderweg Rechner";
    
}
<link href="css/Index.css" rel="stylesheet"/>
<div class="text-center">
    <div class=" landingPic strokeme">
        <h1 class="display-4">Willkommen auf der Informations Website des Alpenvereins</h1>
</div><br />
    <h5>Wandern ist eins der beliebtesten Freizeitaktivitäten in Österreich. Es ist die perfekte Tätigkeit um mit der Natur eins zu werden und seinen Körper zu kräftigen. Informieren Sie sich auf unserer Website über die besten Berge, schönsten Plätze und kalkulieren Sie Wanderzeiten von Bergtouren.</h5><br />
    <a asp-page="/HikingTrailCalculator" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Wanderweg Rechner</a>
</div>
