@page
@model IndexModel
@{
    ViewData["Title"] = "Wanderweg Rechner";
    
}
<link href="css/Index.css" rel="stylesheet"/>
<div class="text-center landingPic">
    <h1 class="display-4">Willkommen auf der Informations Website des Alpenvereins</h1>
</div>
