html {
    font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.strokeme {
    color: white;
    background-color: black;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

nav button {
    border-color: transparent;
    border-radius: 0px;
    border-top: none;
    border-bottom: none;
}

nav button:hover {
    border-color: grey;
    background-color: transparent;
} 