@page
@model _14_SecondWebApp.Pages.BootstrapModel
@{
}

<div class="container-sm bg-success">
	Container
</div>
<div class="container-xl bg-warning">
	<div class="row">
		<div class="col-xl-5 border">
			Erste Spalte
		</div>
		<div class="col-xl-7 border">
			Zweite Spalte
		</div>
	</div>
</div>