@page
@model _14_SecondWebApp.Pages.CollatzModel
@{
}

<div class="container-md">
	<div class="col-md-6">
		<form method="post" asp-page-handler="CalculateAndRedirect">
			<div>
				<input type="number" id="startNum" name="startNum" />
			</div>
			<button type="submit">Collertz-Folge berechnen</button>

		</form>

	</div>
</div>
</div>