@page
@model _13_FirstWebApp.Pages.TimeModel
@{	// short for @function should not really be used

}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h1>Uhrzeit</h1>
    <h2>Es ist: @Model.Time</h2>
</body>
</html>